<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>{% block title %} NSDP Reports {% endblock title %}</title>
        <link rel='stylesheet' href="static/bootstrap.css" type='text/css' >
        <link rel='stylesheet' href="static/custom.css" type='text/css' >
    </head>

    <body class="d-flex flex-column min-vh-100">
        <nav class="navbar navbar-expand-lg navbar-dark main_header">
            <div class="collapse navbar-collapse" id="navcol-5">
            <span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon">
               <a  href="homepage"> <img src="https://raw.githubusercontent.com/Rich-Orrell/Main_REV3d/master/static/23.png" width="28" height="30" ></a></span>
        </nav>

    <!------------ End header ------------>

        {%  block content %}
        <h1 style="background: #092325 ;color: var(--bs-white);font-size: 23px;padding: 20px 10px 10px 16px;"><div class="container">Reported Cybersecurity Concerns</div></h1>

        <div class="container min-vh-100 py-3 py-xl-5">
            <div class="pad-text"></div>

                <div class="pad-text">
                    <div class="p-5 border">
                        <div class="table-responsive">

                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col" style="width:250px">Case ID</th>
                                    <th scope="col" style="width:250px">Case Type</th>
                                    <th scope="col" style="width:250px">Priority Type</th>
                                    <th scope="col" style="width:250px">Status</th>
                                    <th scope="col" style="width:250px">Date Created</th>
                                    <th scope="col" style="width:250px">Domain Link</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for key, value in vulnerabilities.items() %}
                                    <tr>
                                        <th scope="row">{{ value.case_id }}</th>
                                        <td>{{ value.case_type }}</td>
                                        <td>{{ value.case_priority }}</td>
                                        <td>{{ value.case_status }}</td>
                                        <td>{{ value.date_created }}</td>
                                        <td>{{ value.DomainLink }}</td>
                                     </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        {%  endblock %}



        <!------------------------- Footer ---------------->
        {% block footer %}
        <footer class="text-center  footer_1">
            <div class="container text-white py-4 py-lg-5 ">
                <ul class="list-inline">
                    <li class="list-inline-item me-4"><a class="link-light" href="https://online.essex.ac.uk">UOE</a></li>
                    <li class="list-inline-item me-4"><a class="link-light" href="https://online.essex.ac.uk">GITHUB</a></li>
                </ul>
                <p class="text-muted mb-0" style="font-size: 9pt;color: #fff !important">Copyright © 2023 University of Essex Online MSC Computer Science Project</p>
            </div>
        </footer>
        {% endblock  %}
        <!------------------------- End Footer ---------------->

    </body>
</html>