<!DOCTYPE html>
<html>
<head>
    <title>Database Activity</title>
</head>
<body>
    <h1>Database Activity</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>User</th>
                <th>Host</th>
                <th>Database</th>
                <th>Command</th>
                <th>Time</th>
                <th>State</th>
                <th>Info</th>
            </tr>
        </thead>
        <tbody>
            {% for row in results %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
                <td>{{ row[5] }}</td>
                <td>{{ row[6] }}</td>
                <td>{{ row[7] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
