<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>{% block title %} NSDP Home {% endblock title %}</title>


    <link rel='stylesheet' href="static/bootstrap.css" type='text/css' >
    <link rel='stylesheet' href="static/custom.css" type='text/css' >
    </head>

    <body class="d-flex flex-column min-vh-100">
        <nav class="navbar navbar-expand-lg navbar-dark main_header">
            <div class="collapse navbar-collapse" id="navcol-5">
            <span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon">
               <a  href="homepage"> <img src="http://192.168.0.165:5000/static/23.png" width="28" height="30" ></a>
            </span>
        </nav>

    <!------------ End header ------------>

<h1>FOR USE WHEN COLLECTING PERSONAL DATA PURSUANT TO GDPR</h2>

<p>Dutch Cyber Crime Report System is the controller of your personal data.  You may contact us by contacting the Mistry of General Affairs at:</p>

<p>Ministry of General Affairs<br>
Functionaris Persoonsgegevens<br>
Postbus 20001<br>
2500 EA The Hague<br>
The Netherlands<br>
<br>
Telephone number: +31 70 356 41 13 <br>
Outside office hours: +31 70 356 41 26<br></p>

The Government of the Netherlands has a data protection officer (in Dutch: Functionaris 
Persoonsgegevens) who monitors internal compliance with privacy legislation.

You can contact the data protection officer by emailing fg@minaz.nl or writing to address mentioned above.
</p>

<h2>Information about the processing of your personal data</h2>

<p>Your personal data will be used by the Government of the Netherlands processes personal data in order to carry out its public tasks.</br>

The Ministry of General Affairs processes the personal data you provide to us when submitting a question in order to answer your questions and contact you. We only share your data in the purview of answering your questions.</p>

<h2>Why is this data required?</h2>

<p>The Ministry of General Affairs processes the personal data you provide to us when submitting a question in order to answer your questions and contact you.</p>

<h2>Categories of personal data collected</h2>

<p>The categories of personal data you are being asked to consent to our collection and use are your name, address, email address, telephone number and date of birth.</p>

<h2>How does your data get processed?</h2>

<p>We only process personal data that we need to answer your questions and contact you. That is our official duty. This means that such processing is needed in order for us to comply with our statutory obligation (http://wetten.overheid.nl/BWBR0019219). The Ministry of General Affairs does not sell your data to third parties. We may forward your question to one of the Ministries for a reply. We will conclude a data processor agreement with companies we have commissioned to process your data, in order to ensure the same level of security and confidentiality regarding your data. <br>

The Ministry of General Affairs will remain responsible for all such processing. The National Government Information Desk operates in accordance with the email code of conduct (https://www.overheid.nl/contact/e-mailgedragslijn-voor-overheden) for government bodies. This sets out how the government deals with the processing and storage of emails. The National Government may use data for investigation purposes, for example, if someone commits offences or makes punishable statements.<br>

The Government of the Netherlands will share your personal data with third party software providers who collect, store and process your personal data on behalf of the Government of the Netherlands and who are contractually obligated to keep your personal data confidential subject to appropriate safeguards to prevent it from unauthorized disclosure.</p>

<h2>How long do we keep your data?</h2>

<p>The Ministry of General Affairs will retain your personal data for two years. This timeframe has been set down by virtue of the Dutch Public Records Act [Archiefwet].</p>

<h2>What are your rights?</h2>

<p>Your personal data will be stored in accordance with the record retention requirements applicable to Government of the Netherlands.  Under the GDPR, you have the right to request access to, rectify, erase and restrict the processing of your personal data.  You also have the right to revoke this consent to use your personal data. You can find more information about your rights on 'Privacy'. </p>

<A HREF="signup">Back</A>
<p></p><p></p>
</body></html>