<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>{% block title %} NSDP Home {% endblock title %}</title>


    <link rel='stylesheet' href="static/bootstrap.css" type='text/css' >
    <link rel='stylesheet' href="static/custom.css" type='text/css' >
    </head>

    <body class="d-flex flex-column min-vh-100">
        <nav class="navbar navbar-expand-lg navbar-dark main_header">
            <div class="collapse navbar-collapse" id="navcol-5">
            <span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon">
               <a  href="homepage"> <img src="http://192.168.0.165:5000/static/23.png" width="28" height="30" ></a>
            </span>
        </nav>

    <!------------ End header ------------>

<h1>YOUR RIGHTS UNDER GDPR</h1>

<p>When it comes to your personal data, you have several rights, such as<br> 
- the rights to access your data<br>
- the rights to withdraw your consent<br>
- the rights to rectify your data and<br>
- the rights to object your data to be processed; and<br>
- the rights to erasure.</p>

<p>If you wish to know what personal data of yours we have processed you view for free by go to "report a case" page. </p>

<p>If it should turn out that your details are incorrect, incomplete or irrelevant, you can submit an additional request for your details to be rectified or supplemented.</p>
<p>If you believe personal data of yours we have processed should be erased or withdraw your consent, you can submit to our Data Protection Officer.</p>

<p>You must submit this request to the organisation within the Ministry that processed the data in question. </p>
<p>If you have general questions about data protection at the Ministry of Justice and Security, please contact our Data Protection Officer at either:</p>
<p>
     fg@minjenv.nl<br>
    or:<br>
    <br>
    Ministry of Justice and Security<br>
    Postbus 20301<br>
    2500 EH Den Haag<br>
    The Netherlands<br>
    
    For more information about your rights or to lodge a complaint,  please contact the Data Protection Authority.
</p>


<P></P>
<P></P>
<a class="btn btn-lg me-2" role="button" href="report-vulnerabilities" style="background: #31cdd7 ;font-size: 11pt; color: #fff;width:150pt" >Back</a>

<P></P>
<P></P>
<P></P>


</body>
</html>